/* 
    Created on : 09-mar-2014, 20:28:09
    Author     : nelson
*/
div#titulo h3{
    text-shadow: 1px 1px 15px black;
    letter-spacing: 2px;
    font-family: "Helvetica";
}

ul.categorias
{
    text-align: center;
    width: 160px;
    display: inline;
    float: inside;
    clear: both;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    font-family:"Helvetica";
    letter-spacing: 1px;
}



li.ElementosCategorias
{
    transition: height 0.3s ease 0s;
    display: inline;
    float: left;
    width: 160px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
}

li.ElementosCategorias:hover
{
    transition: all 0.2s ease 0.2s;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
}


a.content
{
    transition: all 0.3s ease 0s;
    display: block;
    width: 160px;
    height: 200px;
    text-decoration: none;
}

a.content:hover
{
    transition: all 0.3s ease 0.2s;
    margin-top: -65px;
}

h3
{
    font-size: 13px;
}


a.content h3
{
    transition: all 0.3s ease 0s;
    margin: -7px 0px 0px 0px;
    padding: 0px 20px;
    text-align: center;
    opacity: 0.6;
}

a.content h3:hover
{
    transition: all 0.3s ease 0s;
    opacity: 1;
}

p.sumary
{
    transition: all 0.4s ease 0s;
    opacity: 0;
    font-size: 14px;
    margin: 0px;
    padding: 4px 10px 0px;
    text-align: center;
    height: 100px;
}

p.sumary:hover
{
    transition: all 0.3s ease 0.2s;
    opacity: 0.6;
}

/*Div Configuracion*/

#divmeta,#divtitle,#divusers
{
 clear:left;
/* box-shadow: 5px 5px 15px black;*/
 width:100%;
 height: 550px;
 margin:100px auto;
}

.box { 
    width:100%; 
    height:550px; 
    background:#fcfcfc; 
    margin:40px auto; 
}
.effect2 { 
    position: relative; 
}

.effect2:before, .effect2:after { 
    z-index: -1; 
    position: absolute; 
    content: ""; 
    bottom: 25px; 
    left: 10px; 
    width: 50%; 
    top: 80%; 
    max-width:300px; 
    background: #777; 
    -webkit-box-shadow: 0 35px 20px #777; 
    -moz-box-shadow: 0 35px 20px #777; 
    box-shadow: 0 35px 20px #777; 
    -webkit-transform: rotate(-6deg); 
    -moz-transform: rotate(-6deg); 
    -o-transform: rotate(-6deg); 
    -ms-transform: rotate(-6deg); 
    transform: rotate(-6deg); 
} 
.effect2:after { 
    -webkit-transform: rotate(6deg); 
    -moz-transform: rotate(6deg); 
    -o-transform: rotate(6deg); 
    -ms-transform: rotate(6deg); 
    transform: rotate(6deg); 
    right: 10px;
    left: auto; 
}